.grid-container{
    display: grid;
grid-template-columns: 100px 100px 100px 100px;
grid-template-rows: 100px 100px 100px;
justify-content: center;
gap: 10px;
}
.grid-container div{
display: grid;
justify-content: center;
align-content: center;
    background-color: blue;(232,60,146);
border: 1px solid chocolate(235,233,230)
}
.item{
    grid-column-start: 1;
    grid-column-end: 3;
}